* {
	margin: 0;
	padding: 0;
}

div.section {
	margin: 10px 20px;
}

div.section h2 {
	margin-top: 30px;
	margin-bottom: 10px;

}

table.list tr.odd {
	background: #FFEEEE;
}

table.list tr.even {
	background: #EEEEFF;
}

table.list td {
	padding: 5px;
}

table.list td.klass,
table.list td.module,
table.list td.exception {
	width: 50px;
	color: #666666;
}
table.list td.name {
	width: 180px;
	/*font-size: 120%;*/
}
table.list td.desc {
	font-size: 90%;
}
table.list td a.important {
	font-size: 150%;
}


#class_description {
	font-size: 90%;
}
