* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFF;
	color: #000;
	font-size: 14px;
	font-family: verdana,sans-serif;
	padding: 0px 20px;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
	margin-top: 30px;
}

div.header {
	padding: 5px 20px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background: #0066CC;
	color: #FFF;
}

div.header a {
	color: #FFFFFF;
	text-decoration: none;
}

div.header a:hover {
	text-decoration: underline;
}

div.header-navi {
	font-size: 14px;
}


div.spacer {
	height: 80px;
}


span.header-target-type {
	font-size: 14px;
	font-style: italic;
}

div.section {
	margin: 10px 0px;
}

div.section h2 {
	margin-top: 30px;
	margin-bottom: 10px;
}

table.list tr.odd {
	background: #FFEEEE;
}

table.list tr.even {
	background: #EEEEFF;
}

table.list td {
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

table.list td.klass,
table.list td.module,
table.list td.exception {
	width: 50px;
	color: #666666;
}
table.list td.name {
	width: 180px;
	/*font-size: 120%;*/
}
table.list td.desc {
}
table.list td a.important {
	font-size: 150%;
}


#class_description {
}

tr.ancestor_header {
	background: #CCCCCC;
}

tr.ancestor_header th {
	text-align: left;
	padding: 20px 5px 5px 5px;
}


a.close-button {
	font-style: italic;
	font-size: 80%;
}

a.method_anchor {
	position: relative;
	top: -70px;
	left: -100px;
}
