<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=EUC-JP" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title id="mark:page_title">Ruby Reference Manual</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script language="JavaScript" type="text/javascript" src="js/jquery.js"></script>
    <script language="JavaScript" type="text/javascript" src="js/jquery-ui.js"></script>
    <script language="JavaScript" type="text/javascript" src="js/util.js"></script>
  </head>

  <body>

    <div class="section">
      <h1><span class="class_type" id="mark:class_type"></span> <span class="class_name" id="mark:class_name">Array</span></h1>
    </div>

    <div class="section" id="class_description">
      <pre id="mark:class_desc">...desc...</pre>
      <a href="javascript:undefined" onclick="toggle_class_content(this, '#class_content');return false">more&raquo;</a>
      <pre id="class_content" style="display:none">...content...</pre>
    </div>

    <div class="section">
      <h2>Methods</h2>
      <table class="list">
        <tbody id="mark:method_entries">
          <tr class="odd" id="mark:method_entry">
            <td class="name"><a href="#" name="each" id="mark:method_link" onclick="toggle_method_content(this);return false">#each</a></td>
            <td class="desc" id="mark:method_desc">...description...</td>
          </tr>
          <tr style="display:none">
            <td class="content" colspan="2">
              <div>
                <pre id="mark:method_content">...content...</pre>
                <a href="javascript:undefined" onclick="hide_method_content(this);return false" class="close-button">close</a>
              </div>
            </td>
          </tr>
          <tr class="even" id="dummy:d2">
            <td class="type">i</td>
            <td class="name"><a href="#">join</a></td>
            <td class="desc">...description...</td>
            <td class="content" style="display:none"><pre>...content...</pre></td>
          </tr>
          <tr style="display:none" id="dummy:d3">
            <td class="content" colspan="2"><pre>...content...</pre></td>
          </tr>
        </tbody>
      </table>
      <p class="empty" id="mark:method_entries_empty">(None)</p>
    </div>

    <div class="section">
      <h2>Inherited Methods</h2>
      <table class="list">
        <tbody class="ancestor_entries" id="mark:ancestor_entries">
          <tr class="ancestor_header">
            <th colspan="2">
              <span id="mark:ancestor_type">module</span>
              <a class="ancestor_link" href="#" id="mark:ancestor_link">Enumerable</a>
            </th>
          </tr>
          <tr class="odd" id="mark:ancestor_methods">
            <td class="ancestor_method_name"><a href="#" id="mark:ancestor_method_link">collect</a></td>
            <td class="ancestor_method_desc" id="mark:ancestor_method_desc">...description...</td>
          </tr>
        </tbody>
      </table>
      <p class="empty" id="mark:ancestor_entries_empty">(None)</p>
    </div>

  </body>

</html>
