<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=EUC-JP" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title id="mark:doctitle">Ruby Reference Manual</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <style type="text/css">
    <!--
      -->
    </style>
    <script language="JavaScript" type="text/javascript" src="js/jQuery.js"></script>
    <script language="JavaScript" type="text/javascript">
    <!--
      -->
    </script>
  </head>

  <body>

    <h1 id="mark:class_name">Array</h1>

    <div class="section">
      <pre id="mark:class_content">...content...</pre>
    </div>

    <div class="section">
      <h2>Methods</h2>
      <table class="list">
        <tbody id="mark:method_entries">
          <tr class="odd" id="mark:method_entry">
            <td class="type">i</td>
            <td class="name"><a href="#" name="each" id="mark:method_link">#each</a></td>
            <td class="desc" id="mark:method_desc">...description...</td>
          </tr>
          <tr style="display:none">
            <td class="content"><pre id="mark:method_content">...content...</pre></td>
          </tr>
          <tr class="even" id="dummy:d2">
            <td class="type">i</td>
            <td class="name"><a href="#">join</a></td>
            <td class="desc">...description...</td>
            <td class="content" style="display:none"><pre>...content...</pre></td>
          </tr>
          <tr style="display:none" id="dummy:d3">
            <td class="content"><pre>...content...</pre></td>
          </tr>
        </tbody>
      </table>
    </div>

  </body>

</html>
