<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=EUC-JP" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title>Ruby Reference Manual</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <style type="text/css">
    <!--
      -->
    </style>
    <script language="JavaScript" type="text/javascript" src="js/jQuery.js"></script>
    <script language="JavaScript" type="text/javascript">
    <!--
      -->
    </script>
  </head>

  <body>

    <div class="section">
      <h2>Classes</h2>
      <table class="list">
        <tbody>
          <tr class="odd" id="mark:class_entries">
            <td class="klass">class</td>
            <td class="name"><a href="#" id="mark:class_link">Array</a></td>
            <td class="desc" id="mark:class_desc">...description...</td>
          </tr>
          <tr class="even" id="dummy:d2">
            <td class="klass">class</td>
            <td class="name"><a href="#">String</a></td>
            <td class="desc">...description...</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="section">
      <h2>Modules</h2>
      <table class="list">
        <tbody>
          <tr class="odd" id="mark:module_entries">
            <td class="module">module</td>
            <td class="name"><a href="#" id="mark:module_link">Enumerable</a></td>
            <td class="desc" id="mark:module_desc">...description...</td>
          </tr>
          <tr class="even" id="dummy:d3">
            <td class="module">module</td>
            <td class="name"><a href="#">Comparable</a></td>
            <td class="desc">...description...</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="section">
      <h2>Exception</h2>
      <table class="list">
        <tbody>
          <tr class="odd" id="mark:exception_entries">
            <td class="exception">class</td>
            <td class="name"><a href="#" id="mark:exception_link">Exception</a></td>
            <td class="desc" id="mark:exception_desc">...description...</td>
          </tr>
        </tbody>
      </table>
    </div>

  </body>

</html>
